# Ignore node_modules directory
node_modules

# Ignore npm logs
npm-debug.log
yarn-error.log

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore local configuration files
.env
*.local

# Ignore build artifacts
dist
build
